/* poppins google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.bg-color{
    background-color: #264653;
}
.button-login{
    background-color: #E76F51;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    border: none;
}
.button-purchase{
    background-color: #E76F51;
    padding: 10px 46px 10px 46px;
    border-radius: 5px;
    border: none;
}
.header-weight{
    font-weight: 600;
    font-size: 48px;
}